aside.logo{
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.logo a{
    max-height: 100%;
    overflow: hidden;
}

aside.logo img {
    padding: 0px 15px;
    max-height: 100px;
    width: auto;
}